.idea
.DS_Store
.env
.env.*
!.env.example
storage/framework

# Go binary
grandesdelfutbol
main

# Frontend
node_modules/
public/build/
gdf-server
storage/logs/*.log
storage/pgsql/
storage/app/
storage/minio/

# Docs
docs/Goravel-v1.17/
docs/InertiaJS-v2/
docs/Vuetify-3/
tmp/
